.login-container {
    height: 100%;
}


.form_login-container {
    position: relative;
    top: 26rem;
    /* max-width: 30%; */
    margin: 0 auto;
    display: inline-block;
    /* overflow: auto; */
}

.form_login--input {
    margin: 2rem;
    vertical-align: baseline;
    height: 4rem;
    width: 30rem;
    border: 1px solid #bbbbbb;
    border-radius: .5rem;
    padding-left: 1rem;
    /* font-family: inherit; */
}

.form_login--input:focus {
   border: 2px solid #9a5adb;
}

.form_login--labeling {
    font-size: 2rem;
    color:#4d4949;    
}

.form_login--submit-btn {
    width: 15rem;
    height: 5rem;
    text-align: center;
    font-size: 1.7rem;
    background: #9a5adb;
    border: none;
    border-radius: .5rem;
    color: #fff;
    /* font-weight: bold; */
}


.form_login-form_title {
    color: #4d4949;
}

