.form_login-container {
    position: relative;
    top: 26rem;
    /* max-width: 30%; */
    margin: 0 auto;
    display: inline-block;
    /* overflow: auto; */
}

.form_login--input {
    margin: 2rem;
    vertical-align: baseline;

}

.form_login--labeling {
    font-size: 2rem;
    color:rgb(77, 73, 73)
    
}

.form_login--submit-btn {
    width: 15rem;
    height: 5rem;
    text-align: center;
    font-size: 1.7rem;
    background: #9a5adb;
    border: none;
    border-radius: .5rem;
    color: #fff;
    /* font-weight: bold; */
}