.Default_Modal {
    position: fixed;
    left: 35%;
    margin: auto;
    height: 22rem;
    width: 40rem;
    border-radius: 1rem;
    z-index: 50;
    background-color: rgb(255, 255, 255);


    animation-name: activate-modal;
    animation-duration: .1s;
    animation-fill-mode: forwards;
}

.error_message {
    position: relative;
    top: 30%;
    margin: auto;
    /* background: yellow; */
    height: 40%;
    width: 60%;
    font-size: 2rem;
    color: #000;
}

.error_message > span {
    margin: auto;
    color: #bbbbbb;

}

.close_error {
    display: inline-block;
    font-size: 3rem;
    position: relative;
    top: 5%;
    left: 40%;
}

@keyframes activate-modal {
    0%{
        transform: translateY(0rem);
    }

    100% {
        transform: translateY(25rem);
    }
}
