.logo-container {
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    position: relative;
    top: 0;
    right: 25%;
    margin: 10px;
}

.logo-container img {
    height: 100%;
}


.main-logo{
    text-decoration: none;
}

