.logo-container {
    /* display: inline-block; */
    background: #fff;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    right: 25%;
    margin: 10px;
}

/* .company-logo {
    background-image: url("../../../assets/images/Todplogo.png");
    background-position: 5px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
} */

.main-logo{
    text-decoration: none;
}

