.logo-container__logged-out {
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    position: relative;
    top: 0;
    left: 22;
}

.logo-container__logged-in {
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    position: relative;
    top: 0;
    right: 29%;
}

.logo-container__logged-out img {
    height: 100%;
}

.logo-container__logged-in img {
    height: 100%;
}


.main-logo{
    text-decoration: none;
}

