.head-main-menu {
    font-size: 2rem;
    font-weight: bold;
    color:#fff;
    display: inline-block;
    position: relative;
    bottom: 30%;
    left: 30%;
    vertical-align: middle;
    margin: 3rem 1rem;
}

.head-main-menu_items {
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
}


.head-main-menu_label {
    margin: 0 2rem; 
    display: inline-block;
} 

.head-main-menu_label .my-lists {
    color: #fff;
}

.nav-link {
    text-decoration: none;
    color: #9a5adb;
}

.nav-link {
    text-decoration: none;
    color: #9a5adb;
}

.nav-link:hover {
    color:#541494;
    text-decoration: none;
}

.user-lists {
    background:#541494;
    padding: .5rem .5rem;
    border-radius: .5rem;
}

.user-lists:hover {
    background:#ff3ec8;
    padding: .5rem .5rem;
    border-radius: .5rem;
    color: #fff;
}