.Default {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 2px 1px 5px 2px rgb(168, 166, 166);
    border-radius: 5px;
    position: relative;
    top: 200px;
}